/* 

.wheel {
    display: inline-block;
    width: 3.75em;
    height: 3.75em;
    /* border-radius: 50%;
  
    /* A little styling */
    /* border: .15em solid #fff;
    box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25); */
  
    /* fixes a minor clipping issue in Chrome */
    /* background-origin: border-box;  */
/* } */

/* #wheel::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
  } */

/* .el {
    width: 25px;
    height: 50px;
    background-color: yellow;
}
.handle {
    position: absolute;
    left:0;
    top:-75;
    width: 25px;
    height: 25px;
    background-color: blue; */
/* } */ 

html {
    background-color: red;
    height: 100%;
    width: 100%;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: -1;

}

div {
    /* height: 50%;
    width: 50%; */
    z-index: -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

#header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    z-index: 1;
    background-color: transparent;
}

